
 
<button (click)="onCreateCourses()" mat-flat-button color="primary" type="button">          
    Agregar Curso
</button>

 <div>     
    <table mat-table [dataSource]="(courses | async) || []" class="mat-elevation-z8">
        
        <ng-container matColumnDef="id_cour">
            <th mat-header-cell *matHeaderCellDef > Código </th>
            <td mat-cell *matCellDef="let courses"> {{courses.id_cour}} </td>
        </ng-container>  
        <ng-container matColumnDef="nameCourse">
            <th mat-header-cell *matHeaderCellDef > Nombre </th>
            <td mat-cell *matCellDef="let courses"> {{courses.nameCourse}} </td>
        </ng-container>
        <ng-container matColumnDef="campusCourse">
            <th mat-header-cell *matHeaderCellDef > Sede </th>
            <td mat-cell *matCellDef="let courses"> {{courses.campusCourse}} </td>
        </ng-container>       
        <ng-container matColumnDef="stateCourse">
            <th mat-header-cell *matHeaderCellDef  > Estado  </th>
            <td mat-cell *matCellDef="let courses"> {{courses.stateCourse}} </td>
        </ng-container>  
        
        
        <ng-container matColumnDef="edit">
            <th mat-header-cell *matHeaderCellDef > Editar </th>
            <td mat-cell *matCellDef="let courses"> 
                <button (click)="onEditCourses(courses.id_cour)" mat-icon-button color="primary">
                    <mat-icon>edit</mat-icon> 
                </button> 
            </td>
        </ng-container>
        <ng-container matColumnDef="delete">
            <th mat-header-cell *matHeaderCellDef> Eliminar </th>
            <td mat-cell *matCellDef="let courses"> 
                <button (click)="onDeleteCourses(courses.id_cour)" mat-icon-button color="warn">
                    <mat-icon>delete</mat-icon> 
                </button> 
            </td>
        </ng-container>
  
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>  
    </table>
 
</div>
      