<mat-drawer-container class="example-container" autosize>
    
    
    <mat-drawer #drawer class="example-sidenav" mode="side" >        
        
        
           
            <mat-nav-list >

              <a routerLink="home" mat-list-item>Inicio</a>
              <a routerLink="students" mat-list-item>Alumnos</a>
              <a routerLink="courses" mat-list-item>Cursos</a>
              <a routerLink="classes" mat-list-item>Clases</a>              
              <a routerLink="/access/login" mat-list-item>Cerrar sesion</a>
                                
              </mat-nav-list>
        
    </mat-drawer>
    
    <!-- sidenav-->
    <div class="example-sidenav-content">
          
        <!-- toolbar-->     
        
            <mat-toolbar color="primary">
              <mat-toolbar-row>
                <button (click)="drawer.toggle()" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
                    <mat-icon>menu</mat-icon>
                </button>
                <span>App Universidad</span>
                <span class="example-spacer"></span>                
              </mat-toolbar-row>          
             
            </mat-toolbar>
        
        <main class="p-3">
          <router-outlet></router-outlet>
        </main>
         
      
    </div>

  </mat-drawer-container>
  