<mat-drawer-container class="example-container" autosize>
    
    
    <mat-drawer #drawer class="example-sidenav" mode="side" >        
        
        
            <a class="navbar-brand" href="#"><img src="../../../assets/logoU.JPG" width="120px" height="120PX" alt=""></a>  
          
            <mat-list >

              <a routerLink="courses" mat-list-item>Cursos</a>
              <a routerLink="students" mat-list-item>Alumnos</a>
                                
                <!-- como yo le tenia-->
                <!--<mat-list-item role="listitem">Consulta</mat-list-item>-->                

                <!-- como lo usa el profe-->
                <!--<a routerLink="products" mat-list-item>Productos</a>-->



            </mat-list>
        
    </mat-drawer>
    
    <!-- sidenav-->
    <div class="example-sidenav-content">
          
        <!-- toolbar-->
      
        <p>
            <mat-toolbar color="primary">
              <mat-toolbar-row>
                <button (click)="drawer.toggle()" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
                    <mat-icon>menu</mat-icon>
                </button>
                <span>Administración</span>
                <span class="example-spacer"></span>                
              </mat-toolbar-row>          
             
            </mat-toolbar>
        </p>
        <main>
          <app-students></app-students>
        </main>
         
      
    </div>

  </mat-drawer-container>
  