
  <button [disabled]="!(isAdmin$ | async)" (click)="onCreateStudent()" mat-flat-button color="primary" type="button">          
       Crea Alumnos
  </button>
    
     <div>     
        <table mat-table [dataSource]="(student | async) || []" class="mat-elevation-z8">
           
            <ng-container matColumnDef="id_Stu">
                <th mat-header-cell *matHeaderCellDef > Nro. </th>
                <td mat-cell *matCellDef="let student"> {{student.id_Stu}} </td>
            </ng-container>
            <ng-container matColumnDef="firstNameStu">
                <th mat-header-cell *matHeaderCellDef > Nombre </th>
                <td mat-cell *matCellDef="let student"> {{student.firstNameStu}} </td>
            </ng-container>
            <ng-container matColumnDef="lastNameStu">
                <th mat-header-cell *matHeaderCellDef > Apellido </th>
                <td mat-cell *matCellDef="let student"> {{student.lastNameStu}} </td>
            </ng-container>
            <ng-container matColumnDef="telephoneStu">
                <th mat-header-cell *matHeaderCellDef > Telefono </th>
                <td mat-cell *matCellDef="let student"> {{student.telephoneStu}} </td>
            </ng-container>
            <ng-container matColumnDef="emailStu">
                <th mat-header-cell *matHeaderCellDef > Correo </th>
                <td mat-cell *matCellDef="let student"> {{student.emailStu}} </td>
            </ng-container>      
            <ng-container matColumnDef="courseStu">
                <th mat-header-cell *matHeaderCellDef > Curso </th>
                <td mat-cell *matCellDef="let student"> {{student.courseStu}} </td>
            </ng-container>  
            
            
            <ng-container matColumnDef="edit">
                <th mat-header-cell *matHeaderCellDef > Editar </th>
                <td mat-cell *matCellDef="let student"> 
                    <button [disabled]="!(isAdmin$ | async)" (click)="onEditStudent(student.id_Stu)" mat-icon-button color="primary">
                        <mat-icon>edit</mat-icon> 
                    </button> 
                </td>
            </ng-container>
            <ng-container matColumnDef="delete">
                <th mat-header-cell *matHeaderCellDef> Eliminar </th>
                <td mat-cell *matCellDef="let student"> 
                    <button [disabled]="!(isAdmin$ | async)" (click)="onDeleteStudent(student.id_Stu)" mat-icon-button color="warn">
                        <mat-icon>delete</mat-icon> 
                    </button> 
                </td>
            </ng-container>
      
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>  
      
 </table>
 
 </div>
